<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="sanamdeep_userstory18_product_price_adjustment" type="Sanamdeep\Userstory18\Plugin\ProductPriceAdjustment" sortOrder="10"/>
    </type>
</config>