<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="userstory5" frontName="userstory5">
            <module name="Sanamdeep_Userstory5"/>
        </route>
    </router>
</config>