<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="uson_id" frontName="uson_path">
            <module name="Sanamdeep_UserStory19" />
        </route>
    </router>
</config>