<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="userstory2a" frontName="userstory2a">
            <module name="Sanamdeep_Userstory2a"/>
        </route>
    </router>
</config>